
.container{
margin: 20px auto;
width: 400px;
height: 267px;
transition: .9s  ease;
position: relative;
}
.container:hover .overlay{
    visibility: visible;
}
.container img{
    width: 100%;
    height: 100%;
}
.overlay{
    width: 400px;
    height: 267px;
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    visibility:hidden;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 80%;
    margin: 20px auto;
}
.btn{
    padding: 10px;
    background-color: orange;
    outline: none;
    border: 1px solid #fff;
}
.class2{
    position: absolute;
    top: 25%;
    display: none;
}